# Local server port
PORT=3000

# Change this password before deploying
ADMIN_PASSWORD=super-secret-password

# Neon PostgreSQL connection string
# Example:
# DATABASE_URL=postgresql://user:password@ep-example.eu-central-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require

# For Neon SSL
PGSSLMODE=require
